body{
    background: linear-gradient(148.76deg, #0B1B5A -4.78%, #07123F 36.09%, #0C0F1B 76.11%);
    color: #FFFFFF;
    box-sizing: border-box;
}


/* height needs to change responsive once we implement SASS into the project. */
.buttonTF{
  border: none;
    width: 100%;
    height: 100px;
   box-shadow: 0px 0px 66.8304px #9F8E8E, 0px 0px 38.1888px #9F8E8E, 0px 0px 22.2768px #9F8E8E, 0px 0px 11.1384px #9F8E8E, 0px 0px 3.1824px #9F8E8E, 0px 0px 1.5912px #9F8E8E;
   box-shadow: 0 10px 0 0 #80823A;

}

.buttonTF2{
    height: 94px;
    box-shadow: 0px 0px 66.8304px #329C2B,
    0px 0px 38.1888px #329C2B,
     0px 0px 22.2768px #329C2B,
     0px 0px 11.1384px #329C2B,
     0px 0px 3.1824px #329C2B,
     0px 0px 1.5912px #329C2B;
     background-color:  #01FF85;
     border: 1px solid #01FF85;
     padding: 30px 40px;
     font-size: 20px;
     min-width: 45%;
     flex-grow: 1;
}

.testimonial-card{
    min-width: 300px;
    max-width: 375px;
}

.testimonial-card img{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 3px solid rgba(23, 215, 160, 0.5);
    border-radius: 50%;
}
#livemissions-section{
    background-color: #C9BCBC !important;
}

@media only screen and (max-width: 600px) {
   
.buttonTF2-group{
display: flex;
flex-direction: column !important;
justify-content: center !important;


}
.buttonTF2{
    width: 100% !important;
}
  }




.bg-lightyellow{
    background-color:#F0F0DF;
}

#bg-tal9000{
   background-color: #C9BCBC;
   padding: 20px;
   gap: 50px;
}


/* medi query for each breakpoint so that the 
width and height of the box changes while there always centered. the box will 
include padding and margin */
#bg-tal9000 .square{
    width: 130px;
    height: 120px;

     background-color:  #01FF85;
    box-shadow: 0px 10px 0px 0px #0D6A08, 0px 0px 66.8304px #329C2B, 0px 0px 38.1888px #329C2B,0px 0px 22.2768px #329C2B,0px 0px 11.1384px #329C2B,0px 0px 3.1824px #329C2B,0px 0px 1.5912px #329C2B; border: 1px solid #01FF85;

}

.img-headshot{
    border-radius: 50%;
    width: 200px;
    border: 2px solid #0F7573;
}

/* All footer styling */
/* All footer styling */

.footer-item01{
    list-style-type: none;
    font-size: 19px;
}
.footer-item01 li:first-child a{
    color: #01FF85;
    font-weight: bold;
}
.footer-item01 .info a{
    color: #EEEEEE;
    font-weight: bold;
}
.footer-item02{
    list-style-type: none;
    font-size: 19px;
}
.footer-item02 li a{
    text-decoration: none;
    color: #EEEEEE;
}

/* All four buttons on footer */
.btn-footer{
    box-shadow: 0 5px 0 0 #848445;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    filter: drop-shadow(0px 0px 12px #8b7e84) drop-shadow(0px 0px 12px #8b7e84);
}
.all-shadow{
    filter: drop-shadow(0px 0px 12px #1A921C) drop-shadow(0px 0px 12px #1A921C);
}