body{
    background: linear-gradient(148.76deg, #0B1B5A -4.78%, #07123F 36.09%, #0C0F1B 76.11%);
    color: #FFFFFF;
    ;
}


/* height needs to change responsive once we implement SASS into the project. */
.buttonTF{
    border: 1px solid #F1F1D2;
    width: 100%;
    height: 100px;

}

.bg-lightyellow{
    background-color:#F0F0DF;
}

#bg-tal9000{
   background-color: #C9BCBC;
   padding: 20px;
   gap: 50px;
}


/* medi query for each breakpoint so that the 
width and height of the box changes while there always centered. the box will 
include padding and margin */
#bg-tal9000 .square{
    width: 130px;
    height: 120px;
    box-shadow: 0px 0px 66.8304px #329C2B;
    background-color: #01FF85;
}

/* All footer styling */
/* All footer styling */

.footer-item01{
    list-style-type: none;
    font-size: 19px;
}
.footer-item01 li:first-child a{
    color: #01FF85;
    font-weight: bold;
}
.footer-item01 .info a{
    color: #EEEEEE;
    font-weight: bold;
}
.footer-item02{
    list-style-type: none;
    font-size: 19px;
}
.footer-item02 li a{
    text-decoration: none;
    color: #EEEEEE;
}

/* All four buttons on footer */
.btn-footer{
    background-color: #F0F0DF;
    height: 6em;
    width: 27em;
    margin-bottom: 1.2em;
    box-shadow: 0 8px 0 0 #838343;
    filter: drop-shadow(0px 0px 16px #86767C) drop-shadow(0px 0px 16px #86767C);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.all-shadow{
    filter: drop-shadow(0px 0px 12px #1A921C) drop-shadow(0px 0px 12px #1A921C);
}