body{
    background: linear-gradient(148.76deg, #0B1B5A -4.78%, #07123F 36.09%, #0C0F1B 76.11%);
    color: #FFFFFF;
    ;
}


/* height needs to change responsive once we implement SASS into the project. */
.buttonTF{
    border: 1px solid #F1F1D2;
    width: 100%;
    height: 100px;

}

.bg-lightyellow{
    background-color:#F0F0DF;
}

#bg-tal9000{
   background-color: #C9BCBC;
   padding: 20px;
   gap: 50px;
}


/* medi query for each breakpoint so that the 
width and height of the box changes while there always centered. the box will 
include padding and margin */
#bg-tal9000 .square{
    width: 130px;
    height: 120px;
    box-shadow: 0px 0px 66.8304px #329C2B;
    background-color: #01FF85;
}
.btn-footer01{
    background-color: #F0F0DF;
    height: 60px;
    width: 22em;
    margin-bottom: 1.2em;
    box-shadow: 0 8px 0 0 #838343;
}
.btn-footer02{
    background-color: #F0F0DF;
    height: 60px;
    width: 22em;
    margin-bottom: 1.2em;
    box-shadow: 0 8px 0 0 #838343;
}
.btn-footer03{
    background-color: #F0F0DF;
    height: 60px;
    width: 22em;
    margin-bottom: 1.2em;
    box-shadow: 0 8px 0 0 #838343;
}
.btn-footer04{
    background-color: #F0F0DF;
    height: 60px;
    width: 22em;
    margin-bottom: 1.2em;
    box-shadow: 0 8px 0 0 #838343;
}