$color-white: #fff;
$title-size: 4rem;
$subtitle-size: 1rem;
$font-size-sm: 1.25rem;

.container {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.main {
  color: $color-white;
  min-height: 100vh;
  padding: 0 24%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $title-size;
}

.subtitle {
  padding: 0 19.6%;
  text-align: left;
  font-size: $subtitle-size;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  width: 100%;
}

@media (min-width: 280px) and (max-width: 480px){
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 1em;
        width: 100%;
    }

    .subtitle {
      font-size: $font-size-sm;
      padding: 0;
    }
}