// import it to the component using the next.js module. reference the next.js module css documentation

.rotate {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}